Repository UniqueNetwork/unique-chain, pull requests merged in 2023-09, with the labels that each got.

#979 modify collator selection workflow for baedeker
  .baedeker/collator-selection.jsonnet
  .github/workflows/collator-selection.yml
  .github/workflows/node-only-update.yml
  tests/src/config.ts
Labels: CI-collator-selection

#985 fix: xcm tests
  .baedeker/xcm-quartz.jsonnet
  .baedeker/xcm-unique.jsonnet
  tests/src/xcm/xcmQuartz.test.ts
  tests/src/xcm/xcmUnique.test.ts
Labels: CI-xcm

#988 fix: collator-selection tests
  .baedeker/collator-selection.jsonnet
  .docker/docker-compose.gov.j2
  .github/workflows/collator-selection.yml
  node/cli/Cargo.toml
  runtime/common/config/pallets/mod.rs
  runtime/opal/Cargo.toml
  runtime/quartz/Cargo.toml
  runtime/unique/Cargo.toml
  tests/src/collator-selection/collatorSelection.seqtest.ts
Labels: CI-collator-selection, CI-gov

#993 Fix/governance with batch
  Cargo.toml
  runtime/common/config/governance/technical_committee.rs
  runtime/common/config/substrate.rs
  runtime/common/construct_runtime.rs
  runtime/opal/Cargo.toml
  runtime/quartz/Cargo.toml
  runtime/unique/Cargo.toml
  tests/src/governance/init.test.ts
  tests/src/pallet-presence.test.ts
  tests/src/util/playgrounds/unique.ts
Labels: CI-gov

#996 refactor(playgorunds): rearranging the code structure
  .envrc
  tests/src/governance/util.ts
  tests/src/maintenance.seqtest.ts
  tests/src/scheduler.seqtest.ts
  tests/src/util/playgrounds/types.ts
  tests/src/util/playgrounds/types.xcm.ts
  tests/src/util/playgrounds/unique.dev.ts
  tests/src/util/playgrounds/unique.governance.ts
  tests/src/util/playgrounds/unique.ts
  tests/src/util/playgrounds/unique.xcm.ts
Labels: CI-xcm

#1002 fixed positive output in case of error
  .github/workflows/try-runtime.yml
Labels: CI-try-runtime
